<h2>--- Real time products ---</h2>
<h3 id="welcome+name">Welcome</h3>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>