<h3>First View</h3>
<form id="form">
    Name: <input type="text" name="name" id="name"></input>
    <input type="submit" value="SEND"></input>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>