<form action="/api/messages" method="post">
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br> 
    Email: <input type="email" name="email"><br>
    Message: <input type="text" name="message"><br>
    <input type="submit" value="SIGNUP">
</form>