<h2>Create carts</h2>

<form action="/api/carts" method="post">
Number of the cart: <input type="number" name="number" id="number">
Product: <input type="string" name="product" id="product">
<input type="submit" value="CREATECARTS">
</form>